$colors: (
  "white": #ffffff,
  "black": #18161D,
  "black-2": #121016,
  "green": #6C8947,
  "transparent": transparent,
  "gray-1": #51575D,
  "gray-2": #A3A4A9,
  "gray-3": #FAFAFA,
);

// Default Font Size
$base-font-size: 16px;

// Responsive Breakpoint
$br-xxs: 375px;
$br-xx: 425px;
$br-xs: 480px;
$br-mm: 512px;
$br-sm: 576px;
$br-md: 768px;
$br-lg: 992px;
$br-xl: 1140px;
$br-xxl: 1200px;
